<% include ../partials/header %> 
    <div class="container" style="text-align:center">
            <div class="jumbotron">
                <h1>All work is done?</h1>
                <p>When your event is finished mark it as finished to enable all involved users adding review and feedback for each other</p>
                <hr>
                <a class="btn btn-primary" href="#">Mark event as finished</a>
            </div>
        <div class="row">
            <div class="col-3">
                <div class="jumbotron jumbix">
                    <h2>Artists tasks</h2>
                    <a class="btn btn-primary" href="/events/<%=event._id%>/tasks/new">Add new task</a> <hr>
                    <% event.tasks.filter(function(task){return task.type==="artist"}).forEach(function(task){ %>
                        <div class="card mt-2">
                                <h4><%=task.title%></h4>
                                <p><%=task.text%></p>
                                <div class="btn-group btn-group-sm">
                                    <button style="display: inline" class="btn btn-xs btn-success">Done</button>
                                    <form method="POST" action="/events/<%=event._id%>/tasks/<%=task._id%>?_method=DELETE">
                                        <button style="display: inline" class="btn btn-xs btn-danger" href="">Delete</button>
                                    </form>
                                    
                                </div>
                        </div>
                    <% }); %>
                </div>
            </div>
             <div class="col-3">
                <div class="jumbotron jumbix">
                    <h2>Technicians tasks</h2>
                    <a class="btn btn-primary" href="/events/<%=event._id%>/tasks/new">Add new task</a> <hr>
                    <% event.tasks.filter(function(task){return task.type==="tech"}).forEach(function(task){ %>
                       <div class="card mt-2">
                                <h4><%=task.title%></h4>
                                <p><%=task.text%></p>
                                <div class="btn-group btn-group-sm">
                                    <button style="display: inline" class="btn btn-xs btn-success">Done</button>
                                    <form method="POST" action="/events/<%=event._id%>/tasks/<%=task._id%>?_method=DELETE">
                                        <button style="display: inline" class="btn btn-xs btn-danger" href="">Delete</button>
                                    </form>
                                </div>
                        </div>
                    <% }); %>
                </div>
            </div>
             <div class="col-3">
                <div class="jumbotron jumbix">
                    <h2>Gear owners tasks</h2>
                    <a class="btn btn-primary" href="/events/<%=event._id%>/tasks/new">Add new task</a> <hr>
                    <% event.tasks.filter(function(task){return task.type==="gear_owner"}).forEach(function(task){ %>
                        <div class="card mt-2">
                                <h4><%=task.title%></h4>
                                <p><%=task.text%></p>
                                <div class="btn-group btn-group-sm">
                                    <button style="display: inline" class="btn btn-xs btn-success">Done</button>
                                    <form method="POST" action="/events/<%=event._id%>/tasks/<%=task._id%>?_method=DELETE">
                                        <button style="display: inline" class="btn btn-xs btn-danger" href="">Delete</button>
                                    </form>
                                </div>
                        </div>
                    <% }); %>
                </div>
            </div>
             <div class="col-3">
                <div class="jumbotron jumbix">
                    <h2 style="vertical-align: text-top">Place owner tasks</h2>
                    <a class="btn btn-primary" href="/events/<%=event._id%>/tasks/new">Add new task</a> <hr>
                    <% event.tasks.filter(function(task){return task.type==="place_owner"}).forEach(function(task){ %>
                        <div class="card mt-2">
                                <h4><%=task.title%></h4>
                                <p><%=task.text%></p>
                                <div class="btn-group btn-group-sm">
                                    <button style="display: inline" class="btn btn-xs btn-success">Done</button>
                                    <form method="POST" action="/events/<%=event._id%>/tasks/<%=task._id%>?_method=DELETE">
                                        <button style="display: inline" class="btn btn-xs btn-danger" href="">Delete</button>
                                    </form>
                                </div>
                        </div>
                    <% }); %>
                </div>
            </div>
                
        </div>
    </div>
<script>
    $(".btn-success").click(function(){
        $(this).parent().parent().css( "background-color", "#5cb85c" );
         $(this).parent().parent().css( "color", "white" );
    });
    
//     $(".btn-danger").click(function(){
//     let id = $(this).attr("id");
//   $.ajax({
//         method: "POST",
//         url: "/events/"+event.id+"/tasks?_method=DELETE",
//         data: {
//             id:id
//         }
//     })
</script>

<% include ../partials/footer %> 