<% include ../partials/header %> 
    <div class="container" style="text-align:center">
        <% if(!event.isFinished){%>
            <div class="jumbotron">
                <h1>All work is done?</h1>
                <p>When your event is finished mark it as finished to enable all involved users adding review and feedback for each other</p>
                <hr>
                <a class="btn btn-primary" href="/events/<%=event._id%>/done">Mark event as finished</a>
            </div>
            <div class="row">
            <div class="col-3">
                <div class="jumbotron jumbix">
                    <h2>Artists tasks</h2>
                    <a class="btn btn-primary" href="/events/<%=event._id%>/tasks/new">Add new task</a> <hr>
                    <% event.tasks.filter(function(task){return task.role==="artist"}).forEach(function(task){ %>
                        <div class="card mt-2">
                                <h4><%=task.title%></h4>
                                <p><%=task.text%></p>
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-xs btn-warning" href="/events/<%=event._id%>/tasks/<%=task._id%>">Edit</a>
                                    <form method="POST" action="/events/<%=event._id%>/tasks/<%=task._id%>?_method=DELETE">
                                        <button style="display: inline" class="btn btn-xs btn-danger" href="">Delete</button>
                                    </form>
                                </div>
                        </div>
                    <% }); %>
                </div>
            </div>
             <div class="col-3">
                <div class="jumbotron jumbix">
                    <h2>Technicians tasks</h2>
                    <a class="btn btn-primary" href="/events/<%=event._id%>/tasks/new">Add new task</a> <hr>
                    <% event.tasks.filter(function(task){return task.role==="tech"}).forEach(function(task){ %>
                       <div class="card mt-2">
                                <h4><%=task.title%></h4>
                                <p><%=task.text%></p>
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-xs btn-warning" href="/events/<%=event._id%>/tasks/<%=task._id%>">Edit</a>
                                    <form method="POST" action="/events/<%=event._id%>/tasks/<%=task._id%>?_method=DELETE">
                                        <button style="display: inline" class="btn btn-xs btn-danger" href="">Delete</button>
                                    </form>
                                </div>
                        </div>
                    <% }); %>
                </div>
            </div>
             <div class="col-3">
                <div class="jumbotron jumbix">
                    <h2>Gear owners tasks</h2>
                    <a class="btn btn-primary" href="/events/<%=event._id%>/tasks/new">Add new task</a> <hr>
                    <% event.tasks.filter(function(task){return task.role==="gear_owner"}).forEach(function(task){ %>
                        <div class="card mt-2">
                                <h4><%=task.title%></h4>
                                <p><%=task.text%></p>
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-xs btn-warning" href="/events/<%=event._id%>/tasks/<%=task._id%>">Edit</a>
                                    <form method="POST" action="/events/<%=event._id%>/tasks/<%=task._id%>?_method=DELETE">
                                        <button style="display: inline" class="btn btn-xs btn-danger" href="">Delete</button>
                                    </form>
                                </div>
                        </div>
                    <% }); %>
                </div>
            </div>
             <div class="col-3">
                <div class="jumbotron jumbix">
                    <h2 style="vertical-align: text-top">Place owner tasks</h2>
                    <a class="btn btn-primary" href="/events/<%=event._id%>/tasks/new">Add new task</a> <hr>
                    <% event.tasks.filter(function(task){return task.role==="place_owner"}).forEach(function(task){ %>
                        <div class="card mt-2">
                                <h4><%=task.title%></h4>
                                <p><%=task.text%></p>
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-xs btn-warning" href="/events/<%=event._id%>/tasks/<%=task._id%>">Edit</a>
                                    <form method="POST" action="/events/<%=event._id%>/tasks/<%=task._id%>?_method=DELETE">
                                        <button style="display: inline" class="btn btn-xs btn-danger" href="">Delete</button>
                                    </form>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
                <div class="jumbotron">
                    <h1>Contractors involved in this event:</h1><hr>
                    <div class="row">
                        <div class="col-3">
                            <h2>Artists:</h2><hr>
                            <% event.contractors.filter(function(contractor){return contractor.role==="artist"}).forEach(function(contractor){ %>
                            <div>
                                <h4><%= contractor.contractor_id.username %></h4>
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-primary" href="#">Contact user</a>
                                    <a class="btn btn-danger" href="#">Report user</a>
                                </div>
                            </div>
                            <% });%>
                        </div>
                        <div class="col-3">
                            <h2>Technicians:</h2><hr>
                            <% event.contractors.filter(function(contractor){return contractor.role==="tech"}).forEach(function(contractor){  %>
                                <div>
                                    <h4><%= contractor.contractor_id.username %></h4>
                                    <div class="btn-group btn-group-sm">
                                        <a class="btn btn-primary" href="#">Contact user</a>
                                        <a class="btn btn-danger" href="#">Report user</a>
                                    </div>
                                </div>
                            <% });%>
                        </div>
                        <div class="col-3">
                            <h2>Gear owners:</h2><hr>
                            <% event.contractors.filter(function(contractor){return contractor.role==="gear_owner"}).forEach(function(contractor){  %>
                                <div>
                                    <h4><%= contractor.contractor_id.username %></h4>
                                    <div class="btn-group btn-group-sm">
                                        <a class="btn btn-primary" href="#">Contact user</a>
                                        <a class="btn btn-danger" href="#">Report user</a>
                                    </div>
                                </div>
                            <% });%>
                        </div>
                        <div class="col-3">
                            <h2>Place owner:</h2><hr>
                                <h4><% event.contractors.filter(function(contractor){return contractor.role==="place_owner"}).forEach(function(contractor){  %></h4>
                                <div>
                                    <h4><%= contractor.contractor_id.username %></h4>
                                    <div class="btn-group btn-group-sm">
                                        <a class="btn btn-primary" href="#">Contact user</a>
                                        <a class="btn btn-danger" href="#">Report user</a>
                                    </div>
                                </div>
                            <% });%>
                        </div>
                    </div>
                    <hr>
                <a class="btn btn-primary" href="/events/<%=event._id%>/marketplace">Browse additional offers</a>
                </div>
            </div>
        <% } else {%>
            <div class="jumbotron">
                <h1>The event has finished</h1>
                <p>Take a moment to evaluate yours contractors work</p>
                <hr>
                <div class="row">
                    <div class="col-3">
                        <h2>Artists:</h2><hr>
                        <% event.contractors.filter(function(contractor){return contractor.role==="artist"}).forEach(function(contractor){ %>
                        <div>
                            <h4><%= contractor.contractor_id.username %></h4>
                            <a class="btn btn-primary" href="/users/<%=contractor._id%>/reviews/new">Add review</a>
                        </div>
                        <% });%>
                    </div>
                    <div class="col-3">
                        <h2>Technicians:</h2><hr>
                        <% event.contractors.filter(function(contractor){return contractor.role==="tech"}).forEach(function(contractor){ %>
                            <div>
                                <h4><%= contractor.contractor_id.username %></h4>
                                <a class="btn btn-primary" href="/users/<%=contractor._id%>/reviews/new">Add review</a>
                            </div>
                        <% });%>
                    </div>
                    <div class="col-3">
                        <h2>Gear owners:</h2><hr>
                        <% event.contractors.filter(function(contractor){return contractor.role==="gear_owner"}).forEach(function(contractor){ %>
                            <div>
                                <h4><%= contractor.contractor_id.username %></h4>
                                <a class="btn btn-primary" href="/users/<%=contractor._id%>/reviews/new">Add review</a>
                            </div>
                        <% });%>
                    </div>
                    <div class="col-3">
                        <h2>Place owner:</h2><hr>
                        <% event.contractors.filter(function(contractor){return contractor.role==="place_owner"}).forEach(function(contractor){ %>
                            <div>
                                <h4><%= contractor.contractor_id.username %></h4>
                                <a class="btn btn-primary" href="/users/<%=contractor._id%>/reviews/new">Add review</a>
                            </div>
                        <% });%>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
<script>
    $(".btn-success").click(function(){
        $(this).parent().parent().addClass("done");
    });
</script>
<% include ../partials/footer %> 