<% include ../partials/header %>
    <h1><%= event.event_name %></h1>
    <p><%= event.description%></p>
    <p><%= event.author.username %></p>
    <div class="container">
        <div class="row">
            <div class="col-3">
            <div class="jumbotron">
                <h1>Artists:</h1>
                <% event.contractors.artists.forEach(function(artist){ %>
                    <li><%= artist.username %></li>
                <% }); %>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron">
                <h1>Technicians:</h1>
                <% event.contractors.techs.forEach(function(tech){ %>
                    <li><%= tech.username %></li>
                <% }); %>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron">
                <h1>Gear organizers:</h1>
                <% event.contractors.gear_owners.forEach(function(gear_owner){ %>
                    <li><%= gear_owner.username %></li>
                <% }); %>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron" >
                <h1>Place owner:</h1>
                <% if(event.contractors.place_owner!=undefined){ %>
                <li><%=event.contractors.place_owner.username%></li>
                <% } %>
            </div>
        </div>
        </div>
    </div>
<% include ../partials/footer %>