<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <div style="text-align:center" class="col-12">
                <h1 ><%= event.event_name %></h1>
                <img class="img-responsive" style="width:100%" src="<%= event.picture%>"/>
                <p><%= event.description%></p>
                <p><%= event.author.username %></p>
                <a class="btn btn-primary btn-lg" href="/events/<%=event._id%>/manage">Manage your event</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
            <div class="jumbotron">
                <h4>Artists:</h4>
                <% event.contractors.artists.forEach(function(artist){ %>
                    <li><%= artist.username %></li>
                <% }); %>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron">
                <h4>Technicians:</h4>
                <% event.contractors.techs.forEach(function(tech){ %>
                    <li><%= tech.username %></li>
                <% }); %>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron">
                <h4>Gear organizers:</h4>
                <% event.contractors.gear_owners.forEach(function(gear_owner){ %>
                    <li><%= gear_owner.username %></li>
                <% }); %>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron" >
                <h4>Place owner:</h4>
                <% if(event.contractors.place_owner!=undefined){ %>
                <li><%=event.contractors.place_owner.username%></li>
                <% } %>
            </div>
        </div>
        </div>
    </div>
<% include ../partials/footer %>