<% include ./partials/header %> 
<div class="container" style="text-align:center">
    <h1>Inbox</h1>
    <div class="row">
        <% if(user.inbox.length == 0){%>
                <h3>Your inbox is empty. At this point you are not allowed to send messages, unless organizer send you one, or someone pick you as his contractor.</h3>
          <% } %>
          <% user.inbox.forEach(function(message){ %>
            <div class="card mt-2">
            <h2><a href="#"><%= message.topic %></a> </h2>
            <p><%= message.text %></p>
            <p>Written by <%= message.author.username %></p>
            <div class="btn-group btn-group-sm">
                <a class="btn btn-success" href="/messages/<%= message._id%>/answer/<%= message.author.id %>">Answer</a>
                <form method="POST" action="/<%=user._id%>/messages/<%=message._id%>/?_method=DELETE">
                    <button class="btn btn-xs btn-danger">Delete</button>
                </form>
            </div>
        <% }); %>
        </div>
    </div>
</div>
    
<% include ./partials/footer %> 