<% include ../../partials/header %> 
    <div class="container">
        <h1>These tasks belongs to you:</h1>
        <div class="row">
            <% user.contracts.forEach(function(contract){ %>
            <div class="jumbotron jumbix col-4">
                <h2><%= contract.contract_id.event_name %> tasks:</h2>
                <% contract.contract_id.tasks.filter(function(task){return task.role===contract.role}).forEach(function(task){ %>
                <div class="card mt-2">
                    <h4><%=task.title%></h4><hr>
                    <p><%=task.text%></p>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-xs btn-warning" href="/events/<%=contract.contract_id._id%>/tasks/<%=task._id%>">Edit</a>
                        <form method="POST" action="/events/<%=contract.contract_id._id%>/tasks/<%=task._id%>?_method=DELETE">
                            <button style="display: inline" class="btn btn-xs btn-danger" href="">Delete</button>
                        </form>
                    </div>
                </div>
                <% }); %>
                <hr><a class="btn btn-primary" href="/events/<%=contract.contract_id._id%>/tasks/new">Add new task</a>
            </div>
                
          <% }); %>
        </div>
    </div>
<% include ../../partials/footer %> 